.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding: 40px;
}

.App-foot {
  width: 100%;               /* span full width */
  bottom: 0;                 /* align to bottom */
  left: 0;                   /* start from left edge */
  text-align: center;        /* center content horizontally */
  background-color: #ffffff; /* optional: match header or contrast */
  color: rgb(0, 0, 0);              /* text color */
  padding-top: 100px;           /* some vertical padding */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.playfair {
  font-family: 'Playfair Display';
  font-weight: 750;
  font-style: bold;
}
.red-playfair {
  font-family: 'Playfair Display';
  font-weight: 600;
  color: #000000;
  font-size: 1em; /* Adjust the size as needed */
}
.smaller-text {
  font-weight: 100;
  font-size: 0.5; /* Adjust the size as needed */
}





.wrapper {
  display: flex;
  justify-content: center; /* center horizontally */
  height: 20;
}

.content {
  width: 300;
  text-align: left;
  background: #ffffff;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
}